.champIcon,
.assists,
.champLevel,
.deaths,
.goldEarned,
.goldSpent,
.item0,
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.kills,
.win {
  border-radius: 10px;
}

.GameItem {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.containerZero,
.containerOne,
.containerTwo,
.containerThree {
  display: inline-block;
}

.item0,
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  /* margin-bottom: 50% */
}


