.GameModuleFullMatchInfo {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  /* padding: 15px; */
}

.fullMatchText {
  color: #3a3a3a;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fullMatchText:hover {
  text-shadow: 0 0 10px #333333;
  cursor: pointer;
}
