.playerIcon,
.playerUsername,
.playerKDA,
.playerDamage,
.playerWard,
.playerCS,
.playerLevel {
  display: inline-block;
}

.playerIcon {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 2px solid black;
}

.spell1Icon,
.spell2Icon,
.perkPrimaryIcon,
.perkSubIcon,
.playerItem0,
.playerItem1,
.playerItem2,
.playerItem3,
.playerItem4,
.playerItem5,
.playerItem6 {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 2px solid black;
}
